*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto,'Helvetica Neue', sans-serif;
}

/* SECTION ONE */

.section-one {
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap:48px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    flex: 1;
    flex-wrap: wrap;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 4px;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.sample-image {
    flex: 1;
    background: grey;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-image-text {
    font-size: 18px;
    color: #F9FAF8;
}

/* SECTION TWO */

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.info {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* could add another class on html div for text */
    text-align: center;
}

/* SECTION THREE */

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quoted-from{
    align-self: flex-end;
    font-size: large;
    font-weight: 600;
}

/* SECTION FOUR */

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container{
    background-color: #3882F6;
    display: flex;
}

.sign-up-two {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    border: solid  #F9FAF8;
    border-radius: 5px;
    font-weight: bold;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}